@charset "utf-8";
/* CSS Document */

section{
  background-color: royalblue;
  height: 50vh;
}
section:nth-of-type(2){
  background-color: aliceblue;
}
section:nth-of-type(3){
  background-color: cadetblue;
}